/* Contact */
.footer{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 5px;
    margin-top: 20px;
    background-color: rgb(247, 222, 247);
}
.footer .siteName{
    font-family: 'Brush Script MT', 'Brush Script Std', cursive;
    padding-left: 10px;
    font-size: 180%;
    font-weight: 200;
}
.footer img{
    width: 4.5rem;
    padding: 0.5rem 1rem;
}

.footer img:hover{
    transform: scale(1.3);
    filter:grayscale(100%);
    cursor: pointer;
}